<div class="ta-a840 mt-3">
    <div class="card">
        <div class="card-body">
            <div class="col-sm col-12">
                <div class="form-group">
                    <div class="input-group"><input type="search" placeholder="Search users..." class="form-control" id="searchInput"> <button class="ta-submit btn btn-main" title="Search" onclick="searchUsers()"><i
                                class="fa fa-search"></i></button></div>
                </div>
            </div>
            <div class="bg-light ta-7b13">
                <ul class="list-unstyled dac mb-2">
                    <li class="cursor-pointer text-success ta-8ca0 active"><i class="fad fa-user"></i> All
                    </li>
                    <li class="cursor-pointer text-danger ta-8ca0"><i class="fad fa-comments"></i> Unread
                    </li>
                    <li class="cursor-pointer text-primary ta-8ca0"><i class="fad fa-users"></i> Group
                    </li>
                </ul>
            </div>
            <div class="ta-98b4">
                <div class="ps ta-9bf8">
                </div>
            </div>
        </div>
    </div>
</div>