<div class="fixed-bottom border-top shadow-top py-1 d-block d-sm-none bg-white ta-8b3b">
    <div class="ta-container">
        <ul class="d-flex align-items-center justify-content-around list-unstyled p-0 m-0">
            <li class="ta-c74b"><a href="/" class="ta-8340"><i class="fal fa-home ta-05f3"></i> <span class="ta-539e">Home</span></a></li>
            <li class="ta-c74b"><a href="/friends" class="ta-8340"><i class="fal fa-users ta-05f3"></i> <span class="ta-539e">Friends</span></a></li>
            <li class="ta-c74b"><a href="/profile/" class="ta-8340"><i class="fal fa-user ta-05f3"></i> <span class="ta-539e">Profile</span></a></li>
            <li class="ta-c74b"><a href="/notifications/" class="ta-8340"><i class="fal fa-concierge-bell ta-05f3"></i> <span class="ta-539e">Notifications</span></a></li>
            <li class="ta-c74b"><a href="/settings/" class="ta-8340"><i class="fal fa-cog ta-05f3"></i> <span class="ta-539e">Settings</span></a></li>
        </ul>
    </div>
</div>