<aside class="csm-6fe5 csm-86d1">
    <div class="min-vh-100">
        <div class="toggle csm-47eb">
            <a href="/" aria-current="page" class="d-block w-100 text-center csm-link-exact-active csm-link-active">
                <img src="/favicon.ico" alt="Vani Dev" style="width: 30px; height: 30px;" />
            </a>
            <button class="btn btn-light border-0 fs-13 py-1 px-3 d-block d-md-none" title="Toggle menu">
                <i class="fal fa-times"></i>
            </button>
        </div>
        <div class="ps csm-c675 ps--active-y">
            <ul class="h-100 list-unstyled py-2 m-0 csm-aa86">
                <li>
                    <a href="/advertiser/" aria-current="page" class="">
                        <i class="fad fa-home"></i>
                        <span>Dashboard</span>
                    </a>
                </li>
                <li>
                    <a href="/advertiser/analytics/" class="">
                        <i class="fad fa-chart-line"></i>
                        <span>Analytics</span>
                    </a>
                </li>
                <li>
                    <a href="/advertiser/campaigns" class="">
                        <i class="fad fa-bullhorn"></i>
                        <span>Campaigns</span>
                    </a>
                </li>
                <li>
                    <a href="/advertiser/billing/" class="">
                        <i class="fad fa-wallet"></i>
                        <span>Billing</span>
                    </a>
                </li>
                <li>
                    <a href="/advertiser/targeting/" class="">
                        <i class="fad fa-user-circle"></i>
                        <span>Targeting</span>
                    </a>
                </li>
                <li class="">
                    <a href="javascript:void(0);" class="collapsed csm-ecd1">
                        <div>
                            <i class="fad fa-wrench"></i>
                            <span>More</span>
                        </div>
                        <i class="fal fa-chevron-right csm-578e"></i>
                    </a>
                    <ul class="csm-4055">
                        <li>
                            <a href="/tien-ich/tim-id-facebook" class="">
                                Find Facebook ID
                            </a>
                        </li>
                    </ul>
                </li>
            </ul>
            <div class="ps__rail-x" style="left: 0px; bottom: 0px">
                <div class="ps__thumb-x" tabindex="0" style="left: 0px; width: 0px"></div>
            </div>
            <div class="ps__rail-y" style="top: 0px; right: 0px; height: 530px">
                <div class="ps__thumb-y" tabindex="0" style="top: 0px; height: 281px"></div>
            </div>
        </div>
    </div>
</aside>