<section id="csm-navbar" class="csm-e634">
    <div class="csm-box py-2 csm-015d">
        <div class="toggle d-flex align-items-center">
            <button class="btn csm-text border-0 p-0 px-2" title="Toggle menu">
                <i class="fad fa-bars"></i>
            </button>
            <div class="d-block d-lg-none ms-2">
                <a href="/" aria-current="page" class="d-block w-100 text-center csm-link-exact-active csm-link-active csm-faec">
                    <img src="/favicon.ico" alt="Vani Dev" style="width: 30px; height: 30px;" />
                </a>
            </div>
        </div>
        <div class="csm-7aad">
            <div class="dropdown">
                <a href="#" role="button" data-bs-toggle="dropdown" data-bs-display="static" aria-expanded="false" class="dropdown-toggle fs-14 d-flex align-items-center csm-8f26">
                    <img alt="" class="rounded-circle csm-shadow csm-dc7f" src="/assets/img/avatar.jpg" />
                    <div class="ps-2 pe-1 csm-68b6">
                        <span class="csm-0ff9">ngocbao - </span>
                        <b class="csm-text csm-a6c3">
                            <span data-v-0abbdf5a="">0</span>
                            <span class="currency">VND</span>
                        </b>
                    </div>
                </a>
                <ul class="dropdown-menu mt-3 dropdown-menu-end csm-c886">
                    <li>
                        <a href="/thong-tin" class="dropdown-item">
                            <i class="fad fa-user-circle"></i> Thông tin
                        </a>
                    </li>
                    <li>
                        <a href="/nap-tien" class="dropdown-item">
                            <i class="fad fa-wallet"></i> Nạp tiền
                        </a>
                    </li>
                    <li>
                        <a href="/hoat-dong" class="dropdown-item">
                            <i class="fad fa-clock"></i> Hoạt động
                        </a>
                    </li>
                    <li>
                        <a href="#" class="dropdown-item">
                            <i class="fad fa-sign-out"></i> Đăng xuất
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</section>