<nav class="ta-navbar navbar navbar-expand-lg sticky-top navbar-white bg-white shadow-sm">
    <div class="container-fluid ta-container">
        <div class="d-flex align-items-center">
            <button type="button" aria-label="Toggle navigation" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" class="navbar-toggler">
                <span class="navbar-toggler-icon"></span>
            </button>
            <a href="/" class="navbar-brand fw-bold d-flex align-items-center nuxt-link-exact-active nuxt-link-active">
                <img height="27" alt="Vani Logo" src="/favicon.ico">
            </a>
            <ul class="navbar-nav dropdown-profile align-items-center flex-row">
                <li class="nav-item p-0"><a href="/auth/signin/" class="btn btn-main btn-sm py-2 text-white px-3 fs-12 ta-link-exact-active ta-link-active"><i class="fa fa-user-circle pe-1"></i> Sign in</a></li>
            </ul>
        </div>
        <div id="navbarNav" class="collapse navbar-collapse my-2 mt-lg-0 mb-1 mb-lg-0">
            <ul class="navbar-nav navbar-main me-auto">
                <li class="nav-item">
                    <a href="/" class="nav-link">
                        <i class="fal text-dark fa-home"></i> Home
                    </a>
                </li>
                <li class="nav-item">
                    <a href="/friends" class="nav-link">
                        <i class="fal text-dark fa-users"></i> Friends
                    </a>
                </li>
                <li class="nav-item">
                    <a href="/videos" class="nav-link">
                        <i class="fal text-dark fa-camera"></i> Video
                    </a>
                </li>
                <li class="nav-item">
                    <a href="/profile" class="nav-link">
                        <i class="fal text-dark fa-user"></i> Profile
                    </a>
                </li>
                <li class="nav-item">
                    <a href="/events" class="nav-link">
                        <i class="fal text-dark fa-calendar"></i> Events
                    </a>
                </li>
                <li class="nav-item">
                    <a href="/notifications" class="nav-link">
                        <i class="fal text-dark fa-concierge-bell"></i> Notifications
                    </a>
                </li>
                <li class="nav-item">
                    <a href="/settings" class="nav-link">
                        <i class="fal text-dark fa-cog"></i> Settings
                    </a>
                </li>
            </ul>
        </div>
    </div>
</nav>