.cool-lightbox {
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    bottom: 0;
    justify-content: center;
    left: 0;
    position: fixed;
    right: 0;
    top: 0;
    -webkit-transition: all .3s ease;
    transition: all .3s ease
}

.cool-lightbox,
.cool-lightbox .cool-lightbox-zoom {
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex
}

.cool-lightbox .cool-lightbox-zoom {
    background-color: hsla(0, 0%, 6%, .8);
    border-radius: 8px;
    bottom: 15px;
    left: 50%;
    padding: 0 12px;
    position: absolute;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
    z-index: 99999
}

.cool-lightbox .cool-lightbox-zoom input[type=range] {
    -webkit-appearance: none;
    background: 0 0;
    margin: 10px 0;
    width: 105px
}

.cool-lightbox .cool-lightbox-zoom input[type=range]:focus {
    outline: 0
}

.cool-lightbox .cool-lightbox-zoom input[type=range]::-webkit-slider-runnable-track {
    animate: .2s;
    background: #e6e6e6;
    border: 0 solid #000;
    border-radius: 11px;
    -webkit-box-shadow: 0 0 0 #000;
    box-shadow: 0 0 0 #000;
    cursor: pointer;
    height: 4px;
    width: 100%
}

.cool-lightbox .cool-lightbox-zoom input[type=range]::-webkit-slider-thumb {
    -webkit-appearance: none;
    background: #fff;
    border: 1px solid #000;
    border-radius: 13px;
    -webkit-box-shadow: 1px 1px 1px #000;
    box-shadow: 1px 1px 1px #000;
    cursor: pointer;
    height: 12px;
    margin-top: -4.5px;
    width: 12px
}

.cool-lightbox .cool-lightbox-zoom input[type=range]:focus::-webkit-slider-runnable-track {
    background: #e6e6e6
}

.cool-lightbox .cool-lightbox-zoom input[type=range]::-moz-range-track {
    animate: .2s;
    background: #e6e6e6;
    border: 0 solid #000;
    border-radius: 11px;
    box-shadow: 0 0 0 #000;
    cursor: pointer;
    height: 4px;
    width: 100%
}

.cool-lightbox .cool-lightbox-zoom input[type=range]::-moz-range-thumb {
    background: #fff;
    border: 1px solid #000;
    border-radius: 13px;
    box-shadow: 1px 1px 1px #000;
    cursor: pointer;
    height: 12px;
    width: 12px
}

.cool-lightbox .cool-lightbox-zoom input[type=range]::-ms-track {
    animate: .2s;
    background: 0 0;
    border-color: transparent;
    color: transparent;
    cursor: pointer;
    height: 4px;
    width: 100%
}

.cool-lightbox .cool-lightbox-zoom input[type=range]::-ms-fill-lower,
.cool-lightbox .cool-lightbox-zoom input[type=range]::-ms-fill-upper {
    background: #e6e6e6;
    border: 0 solid #000;
    border-radius: 22px;
    box-shadow: 0 0 0 #000
}

.cool-lightbox .cool-lightbox-zoom input[type=range]::-ms-thumb {
    background: #fff;
    border: 1px solid #000;
    border-radius: 13px;
    box-shadow: 1px 1px 1px #000;
    cursor: pointer;
    height: 12px;
    width: 12px
}

.cool-lightbox .cool-lightbox-zoom input[type=range]:focus::-ms-fill-lower,
.cool-lightbox .cool-lightbox-zoom input[type=range]:focus::-ms-fill-upper {
    background: #e6e6e6
}

.cool-lightbox .cool-lightbox-zoom .cool-lightbox-zoom__icon {
    color: #fff;
    height: 15px;
    width: 15px
}

.cool-lightbox .cool-lightbox-zoom .cool-lightbox-zoom__icon:first-of-type {
    margin-right: 10px
}

.cool-lightbox .cool-lightbox-zoom .cool-lightbox-zoom__icon:last-of-type {
    margin-left: 10px
}

.cool-lightbox .cool-lightbox-thumbs {
    background-color: #ddd;
    height: 100vh;
    overflow-x: hidden;
    overflow-y: auto;
    position: absolute;
    right: -102px;
    scrollbar-color: #fa4242 hsla(0, 0%, 69%, .9);
    scrollbar-width: thin;
    top: 0;
    -webkit-transition: none;
    transition: none;
    width: 102px
}

@media (min-width:767px) {
    .cool-lightbox .cool-lightbox-thumbs {
        -webkit-transition: all .3s ease;
        transition: all .3s ease
    }
}

.cool-lightbox .cool-lightbox-thumbs::-webkit-scrollbar {
    height: 6px;
    width: 6px
}

.cool-lightbox .cool-lightbox-thumbs::-webkit-scrollbar-button {
    height: 0;
    width: 0
}

.cool-lightbox .cool-lightbox-thumbs::-webkit-scrollbar-thumb {
    background: #fa4242;
    border: 0 #fff;
    border-radius: 50px
}

.cool-lightbox .cool-lightbox-thumbs::-webkit-scrollbar-thumb:hover {
    background: #fff
}

.cool-lightbox .cool-lightbox-thumbs::-webkit-scrollbar-thumb:active {
    background: #000
}

.cool-lightbox .cool-lightbox-thumbs::-webkit-scrollbar-track {
    background: #e1e1e1;
    border: 0 #fff;
    border-radius: 8px
}

.cool-lightbox .cool-lightbox-thumbs::-webkit-scrollbar-track:hover {
    background: #666
}

.cool-lightbox .cool-lightbox-thumbs::-webkit-scrollbar-track:active {
    background: #333
}

.cool-lightbox .cool-lightbox-thumbs::-webkit-scrollbar-corner {
    background: 0 0
}

@media (min-width:767px) {
    .cool-lightbox .cool-lightbox-thumbs {
        right: -212px;
        width: 212px
    }
}

.cool-lightbox .cool-lightbox-thumbs .cool-lightbox-thumbs__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    padding: 2px 0 2px 2px
}

.cool-lightbox .cool-lightbox-thumbs .cool-lightbox-thumbs__list .cool-lightbox__thumb {
    background-color: #000;
    display: block;
    height: 75px;
    margin-bottom: 2px;
    margin-right: 2px;
    position: relative;
    width: 100%
}

@media (min-width:767px) {
    .cool-lightbox .cool-lightbox-thumbs .cool-lightbox-thumbs__list .cool-lightbox__thumb {
        width: calc(50% - 2px)
    }
}

.cool-lightbox .cool-lightbox-thumbs .cool-lightbox-thumbs__list .cool-lightbox__thumb:before {
    border: 3px solid #fa4242;
    bottom: 0;
    content: "";
    left: 0;
    opacity: 0;
    position: absolute;
    right: 0;
    top: 0;
    -webkit-transition: all .3s ease;
    transition: all .3s ease;
    visibility: hidden;
    z-index: 150
}

.cool-lightbox .cool-lightbox-thumbs .cool-lightbox-thumbs__list .cool-lightbox__thumb img {
    height: 100%;
    -o-object-fit: cover;
    object-fit: cover;
    width: 100%
}

.cool-lightbox .cool-lightbox-thumbs .cool-lightbox-thumbs__list .cool-lightbox__thumb.is-video .cool-lightbox__thumb__icon {
    height: 25px;
    left: 50%;
    position: absolute;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    width: 25px;
    z-index: 100
}

.cool-lightbox .cool-lightbox-thumbs .cool-lightbox-thumbs__list .cool-lightbox__thumb.is-video .cool-lightbox__thumb__icon path {
    fill: #fff
}

.cool-lightbox .cool-lightbox-thumbs .cool-lightbox-thumbs__list .cool-lightbox__thumb.is-video:after {
    background: rgba(0, 0, 0, .6);
    bottom: 0;
    content: "";
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    z-index: 50
}

.cool-lightbox .cool-lightbox-thumbs .cool-lightbox-thumbs__list .cool-lightbox__thumb.active:before,
.cool-lightbox .cool-lightbox-thumbs .cool-lightbox-thumbs__list .cool-lightbox__thumb:hover:before {
    opacity: 1;
    visibility: visible
}

.cool-lightbox .cool-lightbox__inner {
    bottom: 0;
    left: 0;
    overflow: hidden;
    padding: 60px 0;
    position: absolute;
    right: 0;
    top: 0;
    -webkit-transition: none;
    transition: none
}

@media (min-width:767px) {
    .cool-lightbox .cool-lightbox__inner {
        -webkit-transition: all .3s ease;
        transition: all .3s ease
    }
}

.cool-lightbox .cool-lightbox__progressbar {
    display: block;
    height: 2px;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    -webkit-transform: scaleX(0);
    transform: scaleX(0);
    -webkit-transform-origin: 0;
    transform-origin: 0;
    -webkit-transition: -webkit-transform 3s linear;
    transition: -webkit-transform 3s linear;
    transition: transform 3s linear;
    transition: transform 3s linear, -webkit-transform 3s linear;
    z-index: 500
}

.cool-lightbox.cool-lightbox--is-swipping {
    cursor: -webkit-grabbing;
    cursor: grabbing
}

.cool-lightbox.cool-lightbox--is-swipping iframe {
    pointer-events: none
}

.cool-lightbox.cool-lightbox--is-swipping .cool-lightbox__slide {
    -webkit-transition: none;
    transition: none
}

.cool-lightbox.cool-lightbox--is-swipping .cool-lightbox__slide.cool-lightbox__slide--hide {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    z-index: 50
}

.cool-lightbox.cool-lightbox--zoom-disabled .cool-lightbox__slide .cool-lightbox__slide__img {
    -webkit-transform: translate3d(-50%, -50%, 0);
    transform: translate3d(-50%, -50%, 0)
}

.cool-lightbox.cool-lightbox--can-zoom .cool-lightbox__slide img {
    cursor: -webkit-zoom-in;
    cursor: zoom-in
}

.cool-lightbox.cool-lightbox--is-zooming .cool-lightbox__slide img {
    cursor: move;
    cursor: grab;
    cursor: -webkit-grab
}

.cool-lightbox.cool-lightbox--is-zooming .cool-lightbox-caption {
    opacity: 0
}

.cool-lightbox.cool-lightbox--thumbs-right.cool-lightbox--show-thumbs .cool-lightbox__inner {
    right: 102px
}

@media (min-width:767px) {
    .cool-lightbox.cool-lightbox--thumbs-right.cool-lightbox--show-thumbs .cool-lightbox__inner {
        right: 212px
    }
}

.cool-lightbox.cool-lightbox--thumbs-right.cool-lightbox--show-thumbs .cool-lightbox-thumbs {
    right: 0
}

.cool-lightbox.cool-lightbox--thumbs-bottom .cool-lightbox-thumbs {
    bottom: -70px;
    height: 70px;
    left: 0;
    overflow: auto;
    right: 0;
    top: auto;
    width: 100%
}

@media (min-width:767px) {
    .cool-lightbox.cool-lightbox--thumbs-bottom .cool-lightbox-thumbs {
        bottom: -79px;
        height: 79px
    }
}

.cool-lightbox.cool-lightbox--thumbs-bottom .cool-lightbox-thumbs .cool-lightbox-thumbs__list {
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    justify-content: center;
    width: 100%
}

.cool-lightbox.cool-lightbox--thumbs-bottom .cool-lightbox-thumbs .cool-lightbox-thumbs__list .cool-lightbox__thumb {
    -ms-flex-negative: 0;
    flex-shrink: 0;
    height: 65px;
    margin-bottom: 0;
    width: 100px
}

@media (min-width:767px) {
    .cool-lightbox.cool-lightbox--thumbs-bottom .cool-lightbox-thumbs .cool-lightbox-thumbs__list .cool-lightbox__thumb {
        height: 75px
    }
}

.cool-lightbox.cool-lightbox--thumbs-bottom.cool-lightbox--show-thumbs .cool-lightbox__inner {
    bottom: 70px
}

@media (min-width:767px) {
    .cool-lightbox.cool-lightbox--thumbs-bottom.cool-lightbox--show-thumbs .cool-lightbox__inner {
        bottom: 79px
    }
}

.cool-lightbox.cool-lightbox--thumbs-bottom.cool-lightbox--show-thumbs .cool-lightbox-thumbs {
    bottom: 0
}

.cool-lightbox * {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    margin: 0;
    padding: 0
}

.cool-lightbox button {
    background: 0 0;
    border: none;
    cursor: pointer;
    outline: 0
}

.cool-lightbox svg path,
.cool-lightbox svg rect {
    fill: currentColor
}

.cool-lightbox .cool-lightbox-button {
    color: #ccc;
    height: 100px;
    opacity: 1;
    padding: 21px 16px 21px 4px;
    position: absolute;
    top: calc(50% - 50px);
    -webkit-transition: all .3s ease;
    transition: all .3s ease;
    visibility: visible;
    width: 54px;
    z-index: 800
}

@media (min-width:767px) {
    .cool-lightbox .cool-lightbox-button {
        padding: 31px 26px 31px 6px;
        width: 70px
    }
}

.cool-lightbox .cool-lightbox-button.hidden {
    opacity: 0;
    visibility: hidden
}

.cool-lightbox .cool-lightbox-button:hover {
    color: #fff
}

.cool-lightbox .cool-lightbox-button>.cool-lightbox-button__icon {
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    align-items: center;
    background: rgba(30, 30, 30, .6);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    justify-content: center;
    padding: 7px
}

.cool-lightbox .cool-lightbox-button>.cool-lightbox-button__icon>svg {
    height: 100%;
    width: 100%
}

.cool-lightbox .cool-lightbox-button.cool-lightbox-button--prev {
    left: 0
}

.cool-lightbox .cool-lightbox-button.cool-lightbox-button--next {
    padding: 21px 4px 21px 16px;
    right: 0
}

@media (min-width:767px) {
    .cool-lightbox .cool-lightbox-button.cool-lightbox-button--next {
        padding: 31px 6px 31px 26px
    }
}

.cool-lightbox .cool-lightbox-pdf {
    max-width: 100%
}

.cool-lightbox .cool-lightbox__iframe {
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    align-items: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    justify-content: center;
    left: 50%;
    position: relative;
    top: 50%;
    -webkit-transform: translate3d(-50%, -50%, 0) scaleX(1);
    transform: translate3d(-50%, -50%, 0) scaleX(1);
    width: 100%
}

.cool-lightbox .cool-lightbox__iframe iframe {
    height: 100%;
    width: 100%
}

@media (min-width:767px) {
    .cool-lightbox .cool-lightbox__iframe iframe {
        max-height: 80vh;
        max-width: 80vw
    }
}

.cool-lightbox .cool-lightbox__wrapper {
    height: 100%;
    position: relative;
    width: 100%
}

.cool-lightbox .cool-lightbox__wrapper.cool-lightbox__wrapper--swipe {
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex
}

.cool-lightbox .cool-lightbox__wrapper.cool-lightbox__wrapper--swipe .cool-lightbox__slide {
    -ms-flex-negative: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    flex-shrink: 0;
    height: 100%;
    opacity: .4;
    position: relative;
    -webkit-transition: opacity .3s linear;
    transition: opacity .3s linear
}

.cool-lightbox .cool-lightbox__wrapper.cool-lightbox__wrapper--swipe .cool-lightbox__slide.cool-lightbox__slide--current {
    opacity: 1
}

.cool-lightbox .cool-lightbox__slide {
    bottom: 0;
    display: none;
    left: 0;
    margin-right: 30px;
    position: absolute;
    right: 0;
    top: 0;
    -webkit-transition: -webkit-transform .3s ease;
    transition: -webkit-transform .3s ease;
    transition: transform .3s ease;
    transition: transform .3s ease, -webkit-transform .3s ease;
    width: 100%;
    z-index: 100
}

.cool-lightbox .cool-lightbox__slide:last-of-type {
    margin-right: 0
}

.cool-lightbox .cool-lightbox__slide.cool-lightbox__slide--current {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex
}

.cool-lightbox .cool-lightbox__slide .cool-lightbox__slide__img {
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    height: 100%;
    left: 50%;
    position: absolute;
    top: 50%;
    -webkit-transform: translate3d(-50%, -50%, 0) scaleX(1);
    transform: translate3d(-50%, -50%, 0) scaleX(1);
    -webkit-transition: all .3s ease;
    transition: all .3s ease;
    width: 100%
}

.cool-lightbox .cool-lightbox__slide img {
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    -webkit-box-shadow: 0 0 1.5rem rgba(0, 0, 0, .45);
    box-shadow: 0 0 1.5rem rgba(0, 0, 0, .45);
    margin: auto;
    max-height: 100%;
    max-width: 100%;
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    z-index: 9999
}

.cool-lightbox .cool-lightbox__slide picture {
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    align-items: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    height: 100%;
    justify-content: center;
    margin: auto;
    max-height: 100%;
    z-index: 9999
}

.cool-lightbox-toolbar {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    opacity: 1;
    position: absolute;
    right: 0;
    top: 0;
    -webkit-transition: all .3s ease;
    transition: all .3s ease;
    visibility: visible
}

.cool-lightbox-toolbar.hidden {
    opacity: 0;
    visibility: hidden
}

.cool-lightbox-toolbar .cool-lightbox-toolbar__btn {
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    background: rgba(30, 30, 30, .6);
    border: 0;
    border-radius: 0;
    -webkit-box-shadow: none;
    box-shadow: none;
    color: #ccc;
    cursor: pointer;
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    height: 40px;
    justify-content: center;
    margin: 0;
    padding: 9px;
    position: relative;
    -webkit-transition: color .2s;
    transition: color .2s;
    vertical-align: top;
    visibility: inherit;
    width: 40px
}

@media (min-width:767px) {
    .cool-lightbox-toolbar .cool-lightbox-toolbar__btn {
        height: 44px;
        padding: 10px;
        width: 44px
    }
}

.cool-lightbox-toolbar .cool-lightbox-toolbar__btn>svg {
    height: 100%;
    width: 100%
}

.cool-lightbox-toolbar .cool-lightbox-toolbar__btn:hover {
    color: #fff
}

.cool-lightbox-caption {
    background: -webkit-gradient(linear, left bottom, left top, color-stop(0, rgba(0, 0, 0, .75)), color-stop(50%, rgba(0, 0, 0, .3)), color-stop(65%, rgba(0, 0, 0, .15)), color-stop(75.5%, rgba(0, 0, 0, .075)), color-stop(82.85%, rgba(0, 0, 0, .037)), color-stop(88%, rgba(0, 0, 0, .019)), to(transparent));
    background: linear-gradient(0deg, rgba(0, 0, 0, .75), rgba(0, 0, 0, .3) 50%, rgba(0, 0, 0, .15) 65%, rgba(0, 0, 0, .075) 75.5%, rgba(0, 0, 0, .037) 82.85%, rgba(0, 0, 0, .019) 88%, transparent);
    bottom: 0;
    color: #eee;
    direction: ltr;
    font-size: 14px;
    font-weight: 400;
    left: 0;
    line-height: 1.5;
    opacity: 1;
    padding: 18px 28px 16px 24px;
    position: absolute;
    right: 0;
    text-align: center;
    -webkit-transition: opacity .25s ease, visibility 0s ease .25s;
    transition: opacity .25s ease, visibility 0s ease .25s;
    z-index: 99997
}

@media (min-width:767px) {
    .cool-lightbox-caption {
        padding: 22px 30px 23px
    }
}

.cool-lightbox-caption a {
    color: #eee;
    -webkit-text-decoration: underline;
    text-decoration: underline
}

.cool-lightbox-caption h6 {
    font-size: 14px;
    line-height: 130%;
    margin: 0 0 6px
}

@media (min-width:767px) {
    .cool-lightbox-caption h6 {
        font-size: 16px;
        margin: 0 0 6px
    }
}

.cool-lightbox-caption p {
    color: #ccc;
    font-size: 13px;
    line-height: 130%
}

@media (min-width:767px) {
    .cool-lightbox-caption p {
        font-size: 15px
    }
}

.cool-lightbox-caption p a {
    color: #ccc
}

.cool-lightbox-caption p a:hover {
    color: #eee
}

.cool-lightbox-modal-enter-active,
.cool-lightbox-modal-leave-active {
    -webkit-transition: opacity .35s;
    transition: opacity .35s
}

.cool-lightbox-modal-enter,
.cool-lightbox-modal-leave-to {
    opacity: 0
}

.cool-lightbox-slide-change-enter-active,
.cool-lightbox-slide-change-leave-active {
    -webkit-transition: opacity .27s;
    transition: opacity .27s
}

.cool-lightbox-slide-change-enter,
.cool-lightbox-slide-change-leave-to {
    opacity: 0
}

.cool-lightbox-loading-wrapper {
    left: 50%;
    position: absolute;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%)
}

.cool-lightbox-loading-wrapper .cool-lightbox-loading {
    -webkit-animation: cool-lightbox-rotate 1s linear infinite;
    animation: cool-lightbox-rotate 1s linear infinite;
    background: 0 0;
    border: 4px solid;
    border-color: #888 #888 #fff;
    border-radius: 50%;
    height: 50px;
    opacity: .7;
    padding: 0;
    width: 50px;
    z-index: 500
}

@-webkit-keyframes cool-lightbox-rotate {
    to {
        -webkit-transform: rotate(1turn);
        transform: rotate(1turn)
    }
}

@keyframes cool-lightbox-rotate {
    to {
        -webkit-transform: rotate(1turn);
        transform: rotate(1turn)
    }
}