.loader {
    background-color: #fff;
    border-radius: 8px;
    height: 130px;
    margin-bottom: 10px;
    overflow: hidden;
    padding: 15px;
    position: relative;
    width: 100%
}

.loader:after {
    animation: gradient-animation_2 1.2s linear infinite;
    background: linear-gradient(110deg, hsla(0, 0%, 89%, 0), hsla(0, 0%, 89%, 0) 40%, hsla(0, 0%, 89%, .5) 50%, hsla(0, 0%, 89%, 0) 60%, hsla(0, 0%, 89%, 0));
    content: "";
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%
}

.loader .wrapper {
    height: 100%;
    position: relative;
    width: 100%
}

.loader .wrapper>div {
    background-color: hsla(0, 0%, 62%, .141)
}

.loader .line-1 {
    top: 11px
}

.loader .line-1,
.loader .line-2 {
    height: 10px;
    left: 0;
    position: absolute;
    width: 100%
}

.loader .line-2 {
    top: 34px
}

.loader .line-3 {
    top: 57px
}

.loader .line-3,
.loader .line-4 {
    height: 10px;
    left: 0;
    position: absolute;
    width: 100%
}

.loader .line-4 {
    top: 80px
}

@keyframes gradient-animation_2 {
    0% {
        transform: translateX(-100%)
    }
    to {
        transform: translateX(100%)
    }
}