* {
    scrollbar-width: none;
    -ms-overflow-style: none;
}

*::-webkit-scrollbar {
    display: none;
}

.form-select {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background-clip: padding-box;
    background-color: #fff;
    border: 1px solid hsla(0, 0%, 62%, .141);
    border-radius: 10px;
    color: #212529;
    font-size: .875rem;
    font-weight: 400;
    line-height: 1.7;
    padding: 0.4rem 0.75rem;
    transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
}

.verified {
    object-fit: cover;
    align-items: center;
    height: 15px;
    width: 15px;
}

.vanixjnk {
    object-fit: cover;
    align-items: center;
    height: 35px;
    width: 35px;
    border-radius: 50%;
}

.vanixjnk-message {
    object-fit: cover;
    align-items: center;
    height: 37px;
    width: 37px;
    border-radius: 50%;
}

.profile-avatar {
    height: 150px;
    width: 150px;
    object-fit: cover;
}

.vani-cover {
    position: relative;
    width: 100%;
    height: 300px;
    background-size: cover;
    background-position: center;
    border-radius: 10px;
}

.vani-avatar {
    position: absolute;
    bottom: -50px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 2;
}

.vani-avatar img {
    width: 150px;
    height: 150px;
    object-fit: cover;
    border-radius: 50%;
    border: 3px solid white;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.15);
}


/* Profile Info */

.vani-mt-10 {
    margin-top: 70px;
    /* Space for avatar overlay */
    text-align: center;
}

.ta-b1e5.ta-5dbb {
    padding-right: .55rem;
}

@media (max-width: 767.98px) {
    .ta-b1e5.ta-86ca {
        position: static;
    }
}

.ta-b1e5.ta-5dbb .ta-cbaf {
    align-items: center;
    display: flex;
    height: 44px;
    justify-content: center;
    width: 44px;
}

.ta-3ea0 .ta-f0ac {
    align-items: center!important;
    display: flex!important;
    padding: .7rem
}

.ta-3ea0 .ta-2632 {
    position: absolute;
    right: -3px;
    top: -9px
}

.ta-3ea0 .ta-802c {
    padding-left: .7rem
}

.ta-3ea0 .ta-802c .ta-92d0 {
    max-width: 200px
}

.ta-698f .ta-90f6 {
    flex: 1 1 0;
    max-width: 100%;
    padding: .7rem 0;
    text-align: center
}

.ta-698f .ta-90f6 .ta-0ca2 {
    display: block;
    font-size: 13px;
    font-weight: 700
}

.ta-698f .ta-90f6 .ta-e3b8 {
    color: #6c757d;
    font-size: 13px
}

.friends {
    height: 70px;
    width: 70px;
    object-fit: cover;
}

.avatar-reply {
    height: 38px;
    width: 38px;
    object-fit: cover;
}

.ta-ccf1 {
    --bs-gutter-x: 1.5rem;
    --bs-gutter-y: 0;
    --bs-gutter-y: 1.5rem;
    display: flex;
    flex-wrap: wrap;
    margin-left: -.75rem;
    margin-left: calc(var(--bs-gutter-x)*-.5);
    margin-right: -.75rem;
    margin-right: calc(var(--bs-gutter-x)*-.5);
    margin-top: -1.5rem;
    margin-top: calc(var(--bs-gutter-y)*-1)
}

.ta-ccf1 .ta-1134 {
    flex-shrink: 0;
    margin-top: var(--bs-gutter-y);
    max-width: 100%;
    padding-left: calc(var(--bs-gutter-x)*.5);
    padding-right: calc(var(--bs-gutter-x)*.5);
    width: 100%
}

@media(min-width:576px) {
    .ta-ccf1 .ta-1134 {
        flex: 0 0 auto;
        width: 50%
    }
}

@media(min-width:768px) {
    .ta-ccf1 .ta-1134 {
        flex: 0 0 auto;
        width: 33.33333333%
    }
}

@media(min-width:1200px) {
    .ta-ccf1 .ta-1134 {
        flex: 0 0 auto;
        width: 25%
    }
}

.ta-ccf1 .ta-a855 {
    flex-shrink: 0;
    margin-top: var(--bs-gutter-y);
    max-width: 100%;
    padding-left: calc(var(--bs-gutter-x)*.5);
    padding-right: calc(var(--bs-gutter-x)*.5);
    width: 100%
}

@media(min-width:576px) {
    .ta-ccf1 .ta-a855 {
        flex: 0 0 auto;
        width: 50%
    }
}

@media(min-width:768px) {
    .ta-ccf1 .ta-a855 {
        flex: 0 0 auto;
        width: 33.33333333%
    }
}

.ta-de08 {
    border: 1.2px dashed var(--bs-white);
    border-radius: 5px;
    box-shadow: 0 0 .6rem 0 rgba(0, 0, 0, .075);
    position: relative
}

.ta-de08.ta-d30d {
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
    border-color: var(--ta-category-hex);
    border-top-left-radius: 5px;
    border-top-right-radius: 5px
}

.ta-de08 .ta-4028,
.ta-de08 .ta-73bf {
    width: 12%
}

.ta-de08 .ta-d260 {
    position: relative
}

.ta-de08 .ta-d260 img {
    border-top-left-radius: 5px;
    border-top-right-radius: 5px
}

@media(min-width:576px) {
    .ta-de08 .ta-d260 img {
        height: 178px
    }
}

.ta-de08 .ta-a478 {
    background: var(--ta-category-label);
    border-radius: 3px;
    color: #fff;
    font-size: 10px;
    font-weight: 400;
    left: 7px;
    padding: 4px 8px;
    position: absolute;
    text-align: center;
    top: 7px;
    z-index: 1
}

.ta-de08 .ta-6804 {
    line-height: 0;
    position: absolute;
    right: 7px;
    top: 7px;
    z-index: 2
}

.ta-de08 .ta-6804 .ta-01e4 {
    border-radius: 5px;
    display: block;
    font-size: 10px;
    font-weight: 500;
    margin-bottom: .3rem;
    padding: 5px 7px 5px 3px
}

.ta-de08 .ta-6804 .ta-01e4 i {
    text-align: center;
    width: 20px
}

.ta-de08 .ta-6804 .ta-01e4.ta-d15b,
.ta-de08 .ta-6804 .ta-01e4.ta-d30d {
    background: #fff;
    color: var(--dark)
}

.ta-de08 .ta-6804 .ta-01e4.ta-d15b i {
    transform: rotate(19deg)
}

.ta-de08 .ta-6804 .ta-01e4:last-child {
    margin-bottom: 0
}

.ta-de08 .ta-8fd0 {
    position: relative
}

.ta-de08 .ta-8fd0 .ta-864c {
    color: var(--bs-gray);
    font-size: 12px
}

.ta-de08 .ta-8fd0 .ta-864c i {
    padding-right: 4px
}

.ta-de08 .ta-8fd0 .ta-7ace {
    align-items: center!important;
    display: flex!important
}

.ta-de08 .ta-104a {
    background: var(--bs-main);
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
    text-align: center
}

.ta-de08 .ta-479e {
    color: var(--bs-white);
    display: block;
    font-size: 14px;
    padding: .5rem 0
}

.ta-de08 .ta-479e:after {
    bottom: 0;
    content: "";
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    z-index: 1
}

.ta-de08 .ta-479e i {
    margin-right: 3px
}

.ta-de08 .ta-46fb {
    align-items: center;
    display: flex;
    justify-content: space-between
}

.ta-de08 .ta-46fb .ta-e497 {
    position: relative
}

.ta-de08 .ta-46fb .ta-e497 img {
    height: 25px
}

.ta-de08 .ta-46fb .ta-e497 .ta-7e58 {
    position: absolute;
    right: -1px;
    top: -9px
}

.ta-de08 .ta-46fb .ta-e497 .ta-7e58 i {
    font-size: 8px
}

.ta-de08 .ta-46fb .ta-a0d0 {
    color: var(--bs-main);
    font-size: 13px;
    max-width: 164px;
    padding-left: 6px
}

.ta-de08 .ta-e0bc,
.ta-de08 .ta-46fb .ta-a0d0 {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap
}

.ta-de08 .ta-e0bc {
    background: hsla(0, 0%, 81%, .26);
    bottom: 0;
    color: #f9f9f9;
    font-size: 12px;
    line-height: 1.4;
    padding: 8px;
    position: absolute;
    width: 100%;
    z-index: 1
}

.ta-de08 .ta-1157 {
    padding: 11px 0 6px
}

.ta-de08 .ta-1157 ul {
    list-style: none;
    margin: 0;
    padding-left: 0
}

.ta-de08 .ta-1157 li {
    color: var(--bs-main);
    display: flex;
    font-size: 13px;
    justify-content: space-between;
    padding-bottom: 5px
}

.ta-de08 .ta-1157 li:last-child {
    padding-bottom: 0
}

.ta-de08 .ta-1157 .ta-f4ce {
    font-weight: 700
}

.avatar-profile .update {
    background: hsla(0, 0%, 91%, .471);
    bottom: 0;
    min-width: 100%;
    padding: 2px 0;
    position: absolute;
    right: 0;
}

.avatar-setting {
    height: 90px;
    width: 90px;
    object-fit: cover;
}

.ta-facf {
    bottom: 15px;
    position: fixed;
    right: 20px;
    z-index: 1200;
}

.ta-8b3b .ta-c74b {
    background: #fff;
    border-radius: 6px;
    transition: background .5s
}

@media(min-width:376px) {
    .ta-8b3b .ta-c74b {
        padding: .27rem .3rem
    }
}

.ta-8b3b .ta-c74b .ta-8340 {
    color: var(--bs-dark)!important;
    display: inline-block;
    min-width: 63px;
    text-align: center
}

@media(max-width:376px) {
    .ta-8b3b .ta-c74b .ta-8340 {
        min-width: 60px
    }
}

.ta-8b3b .ta-c74b.ta-b202 {
    background: #ebebeb
}

.ta-8b3b .ta-c74b.ta-b202 .ta-8340 {
    font-weight: 700
}

.ta-8b3b .ta-05f3 {
    font-size: 3vw
}

.ta-8b3b .ta-539e {
    display: block;
    font-size: 2.2vw
}

.today {
    background-color: rgb(229, 246, 254);
}

.month {
    background-color: rgb(228, 246, 232);
}

.total_revenue {
    background-color: rgb(248, 242, 253);
}

.total_products {
    background-color: rgb(242, 244, 253);
}

.sold {
    background-color: rgb(253, 251, 242);
}

.pending {
    background-color: rgb(253, 242, 242);
}

.ta-9bf8 {
    height: 444px
}

@media(min-width:992px) {
    .ta-a840 {
        border-right: 1px solid hsla(0, 0%, 62%, .141)
    }
}

@media(max-width:991.98px) {
    .ta-a840.ta-3677 {
        display: none
    }
}

.ta-98b4 .ta-38a0 {
    align-items: flex-start!important;
    border-bottom: 1px solid hsla(0, 0%, 62%, .141);
    display: flex!important;
    justify-content: space-between!important;
    transition: background .3s
}

.ta-98b4 .ta-38a0:last-child {
    border-bottom: 0
}

.ta-98b4 .ta-38a0 .ta-1efc {
    max-width: 15vw
}

@media(max-width:991.98px) {
    .ta-98b4 .ta-38a0 .ta-1efc {
        max-width: 65vw
    }
}

@media(max-width:767.98px) {
    .ta-98b4 .ta-38a0 .ta-1efc {
        max-width: 50vw
    }
}

.ta-98b4 .ta-38a0.active {
    background: hsla(0, 0%, 62%, .141);
    border-bottom: 0;
    border-radius: 10px
}

.ta-98b4 .ta-38a0 .ta-2ca1 {
    position: relative
}

.ta-98b4 .ta-38a0 .ta-2ca1 .ta-5d62 {
    position: absolute;
    right: 0;
    top: -2px
}

.ta-98b4 .ta-38a0 .ta-cc16 {
    color: var(--bs-gray);
    font-size: 11px
}

@media(max-width:376px) {
    .ta-98b4 .ta-38a0 .ta-cc16 {
        font-size: 3vw
    }
}

.ta-7b13 {
    border-radius: 10px
}

.ta-7b13 ul {
    padding: 10px
}

.ta-7b13 .ta-8ca0 {
    border-radius: 8px;
    display: block;
    font-size: 13px;
    padding: 7px 5px;
    text-align: center;
    transition: background .3s;
    width: 50%
}

.ta-7b13 .ta-8ca0.active {
    background: var(--bs-white)
}

.ps {
    -ms-overflow-style: none;
    overflow: hidden!important;
    overflow-anchor: none;
    touch-action: auto;
    -ms-touch-action: auto
}

.ps__rail-x {
    bottom: 0;
    height: 15px
}

.ps__rail-x,
.ps__rail-y {
    display: none;
    opacity: 0;
    position: absolute;
    transition: background-color .2s linear, opacity .2s linear;
    -webkit-transition: background-color .2s linear, opacity .2s linear
}

.ps__rail-y {
    right: 0;
    width: 15px
}

.ps--active-x>.ps__rail-x,
.ps--active-y>.ps__rail-y {
    background-color: transparent;
    display: block
}

.ps--focus>.ps__rail-x,
.ps--focus>.ps__rail-y,
.ps--scrolling-x>.ps__rail-x,
.ps--scrolling-y>.ps__rail-y,
.ps:hover>.ps__rail-x,
.ps:hover>.ps__rail-y {
    opacity: .6
}

.ps .ps__rail-x.ps--clicking,
.ps .ps__rail-x:focus,
.ps .ps__rail-x:hover,
.ps .ps__rail-y.ps--clicking,
.ps .ps__rail-y:focus,
.ps .ps__rail-y:hover {
    background-color: #eee;
    opacity: .9
}

.ps__thumb-x {
    bottom: 2px;
    height: 6px;
    transition: background-color .2s linear, height .2s ease-in-out;
    -webkit-transition: background-color .2s linear, height .2s ease-in-out
}

.ps__thumb-x,
.ps__thumb-y {
    background-color: #aaa;
    border-radius: 6px;
    position: absolute
}

.ps__thumb-y {
    right: 2px;
    transition: background-color .2s linear, width .2s ease-in-out;
    -webkit-transition: background-color .2s linear, width .2s ease-in-out;
    width: 6px
}

.ps__rail-x.ps--clicking .ps__thumb-x,
.ps__rail-x:focus>.ps__thumb-x,
.ps__rail-x:hover>.ps__thumb-x {
    background-color: #999;
    height: 11px
}

.ps__rail-y.ps--clicking .ps__thumb-y,
.ps__rail-y:focus>.ps__thumb-y,
.ps__rail-y:hover>.ps__thumb-y {
    background-color: #999;
    width: 11px
}

@supports (-ms-overflow-style:none) {
    .ps {
        overflow: auto!important
    }
}

@media (-ms-high-contrast:none),
screen and (-ms-high-contrast:active) {
    .ps {
        overflow: auto!important
    }
}

.ps {
    position: relative
}

.ta-98b4 .ta-38a0.ta-5acf {
    background: hsla(0, 0%, 62%, .141);
    border-bottom: 0;
    border-radius: 10px
}

.ta-2158 .ta-e4a4 {
    margin-bottom: .7rem
}

.ta-2158 .ta-e4a4 .ta-b92d {
    background: var(--bs-primary);
    color: var(--bs-white)
}

.ta-2158 .ta-e4a4 .ta-b92d a {
    color: var(--bs-white);
    -webkit-text-decoration: underline;
    text-decoration: underline
}

.ta-2158 .ta-e4a4 .ta-11d9 {
    background: hsla(0, 0%, 62%, .141)
}

.ta-2158 .ta-e4a4 .ta-11d9 a {
    color: var(--bs-primary)
}

.ta-e4f1 {
    height: 390px
}

.chat-container .card {
    box-shadow: none
}

.ta-b1e5.ta-5dbb {
    padding-right: .55rem
}

.ta-b1e5.ta-5dbb .ta-cbaf {
    align-items: center;
    display: flex;
    height: 44px;
    justify-content: center;
    width: 44px
}

@media(max-width: 575.98px) {
    .ta-b1e5.ta-5dbb .ta-cbaf {
        height: 39px;
        width: 39px
    }
    .ta-b1e5.ta-5dbb .ta-cbaf i {
        font-size: 13px
    }
}

.ta-b1e5.ta-5dbb .ta-6cd0 {
    align-items: center;
    background: var(--bs-danger);
    border-radius: 10px;
    color: var(--bs-white);
    display: flex;
    font-size: 10px;
    font-weight: 700;
    height: 18px;
    justify-content: center;
    line-height: 0;
    position: absolute;
    right: -6px;
    text-align: center;
    top: -6px;
    width: 18px
}

.ta-b1e5.ta-86ca {
    position: relative
}

@media(max-width: 767.98px) {
    .ta-b1e5.ta-86ca {
        position: static
    }
}

.ta-9bf8 {
    height: 444px
}

@media(min-width: 992px) {
    .ta-a840 {
        border-right: 1px solid hsla(0, 0%, 62%, .141)
    }
}

@media(max-width: 991.98px) {
    .ta-a840.ta-3677 {
        display: none
    }
}

.ta-98b4 .ta-38a0 {
    align-items: flex-start!important;
    border-bottom: 1px solid hsla(0, 0%, 62%, .141);
    display: flex!important;
    justify-content: space-between!important;
    transition: background .3s
}

.ta-98b4 .ta-38a0:last-child {
    border-bottom: 0
}

.ta-98b4 .ta-38a0 .ta-1efc {
    max-width: 15vw
}

@media(max-width: 991.98px) {
    .ta-98b4 .ta-38a0 .ta-1efc {
        max-width: 65vw
    }
}

@media(max-width: 767.98px) {
    .ta-98b4 .ta-38a0 .ta-1efc {
        max-width: 50vw
    }
}

.ta-98b4 .ta-38a0.ta-5acf {
    background: hsla(0, 0%, 62%, .141);
    border-bottom: 0;
    border-radius: 10px
}

.ta-98b4 .ta-38a0 .ta-2ca1 {
    position: relative
}

.ta-98b4 .ta-38a0 .ta-2ca1 .ta-5d62 {
    position: absolute;
    right: 0;
    top: -2px
}

.ta-98b4 .ta-38a0 .ta-cc16 {
    color: var(--bs-gray);
    font-size: 11px
}

@media(max-width: 376px) {
    .ta-98b4 .ta-38a0 .ta-cc16 {
        font-size: 3vw
    }
}

.ta-7b13 {
    border-radius: 10px
}

.ta-7b13 ul {
    padding: 10px
}

.ta-7b13 .ta-8ca0 {
    border-radius: 8px;
    display: block;
    font-size: 13px;
    padding: 7px 5px;
    text-align: center;
    transition: background .3s;
    width: 50%
}

.ta-7b13 .ta-8ca0.ta-5acf {
    background: var(--bs-white)
}

.ta-2158 .ta-e4a4 {
    margin-bottom: .7rem
}

.ta-2158 .ta-e4a4 p {
    border-radius: 8px;
    font-size: 13px;
    margin-bottom: 0;
    padding: 8px 12px
}

.ta-2158 .ta-e4a4 p:not(.ta-2146) {
    max-width: 65%
}

@media(max-width: 575.98px) {
    .ta-2158 .ta-e4a4 p:not(.ta-2146) {
        max-width: 80%
    }
}

.ta-2158 .ta-e4a4 .ta-b92d {
    background: var(--bs-primary);
    color: var(--bs-white)
}

.ta-2158 .ta-e4a4 .ta-b92d a {
    color: var(--bs-white);
    -webkit-text-decoration: underline;
    text-decoration: underline
}

.ta-2158 .ta-e4a4 .ta-11d9 {
    background: hsla(0, 0%, 62%, .141)
}

.ta-2158 .ta-e4a4 .ta-11d9 a {
    color: var(--bs-primary)
}

.ta-e4f1 {
    height: 390px
}

@media(min-width: 1400px) {
    .ta-e4f1 {
        height: 450px
    }
}

.ta-dfcc {
    display: inline-block;
    position: relative
}

.ta-dfcc .ta-2f7d {
    position: absolute;
    right: -10px;
    top: -7px
}

@media(max-width: 991.98px) {
    .ta-75d2 {
        border-top: 1px solid hsla(0, 0%, 62%, .141)
    }
}

.ta-6b55 .ta-cc3f {
    height: 38px;
    width: 38px
}

.ta-6b55 .ta-2b57 {
    height: 13.5px
}

.ta-d2e7 {
    align-items: center!important;
    bottom: 0;
    display: flex!important;
    justify-content: center!important;
    left: 0;
    position: fixed;
    right: 0;
    top: 0;
    z-index: 99999
}

.ta-d2e7 .ta-acc3 {
    animation: ta-447a .8s linear infinite alternate, ta-5cbc 1.6s linear infinite;
    border: 8px solid var(--bs-main);
    border-radius: 50%;
    height: 60px;
    width: 60px
}

@keyframes ta-447a {
    0% {
        clip-path: polygon(50% 50%, 0 0, 50% 0, 50% 0, 50% 0, 50% 0, 50% 0)
    }
    12.5% {
        clip-path: polygon(50% 50%, 0 0, 50% 0, 100% 0, 100% 0, 100% 0, 100% 0)
    }
    25% {
        clip-path: polygon(50% 50%, 0 0, 50% 0, 100% 0, 100% 100%, 100% 100%, 100% 100%)
    }
    50% {
        clip-path: polygon(50% 50%, 0 0, 50% 0, 100% 0, 100% 100%, 50% 100%, 0 100%)
    }
    62.5% {
        clip-path: polygon(50% 50%, 100% 0, 100% 0, 100% 0, 100% 100%, 50% 100%, 0 100%)
    }
    75% {
        clip-path: polygon(50% 50%, 100% 100%, 100% 100%, 100% 100%, 100% 100%, 50% 100%, 0 100%)
    }
    to {
        clip-path: polygon(50% 50%, 50% 100%, 50% 100%, 50% 100%, 50% 100%, 50% 100%, 0 100%)
    }
}

@keyframes ta-5cbc {
    0% {
        transform: scaleY(1) rotate(0deg)
    }
    49.99% {
        transform: scaleY(1) rotate(135deg)
    }
    50% {
        transform: scaleY(-1) rotate(0deg)
    }
    to {
        transform: scaleY(-1) rotate(-135deg)
    }
}

.ta-a494 {
    margin-bottom: .7rem;
    padding: 0 11px
}

.ta-0c2c {
    padding: 8px 11px
}

.ta-c14f {
    color: var(--bs-white);
    font-size: 20px
}

.ta-c03b {
    border-radius: 8px;
    color: #d7d7d7!important;
    display: block;
    font-size: 13px
}

.ta-c03b:hover {
    background: hsla(0, 0%, 55%, .18)
}

.ta-c03b i {
    font-size: 14px;
    width: 20px
}

.ta-facf {
    bottom: 15px;
    position: fixed;
    right: 20px;
    z-index: 1200
}

.ta-facf i {
    line-height: 0
}

.ta-6f43 .ta-8cd2 {
    background-image: linear-gradient(45deg, #000, #343333)
}

.ta-6f43 .ta-8cd2 .ta-ad0b {
    color: var(--bs-white);
    min-height: 370px
}

@media(max-width:575.98px) {
    .ta-6f43 .ta-8cd2 .ta-ad0b {
        min-height: 300px
    }
}

.ta-6f43 .ta-8cd2 .ta-ad0b .ta-e52e {
    -webkit-text-fill-color: transparent;
    background: #ffe032;
    background: linear-gradient(90deg, #ffe032 0, #cf1512);
    -webkit-background-clip: text
}

.ta-6f43 .ta-8cd2 .ta-ad0b .ta-9018 {
    max-width: 1000px
}

@media(max-width:575.98px) {
    .ta-6f43 .ta-8cd2 .ta-ad0b .ta-9018 {
        font-size: 3.5vw
    }
}

.ta-6f43 .ta-354d .ta-c5aa .ta-a92f i {
    height: 50px;
    width: 50px
}

.ta-6f43 .ta-5c91 {
    background: var(--ta-category-color);
    border: 2px solid transparent;
    border-radius: 20px;
    transition-duration: .3s;
    transition-property: border
}

.ta-6f43 .ta-5c91:hover {
    border: 2px dashed var(--ta-category-hex)
}

.ta-6f43 .ta-5c91 .ta-a92f img {
    height: 70px
}

.ta-6f43 .ta-5c91 h4 {
    color: var(--ta-category-hex);
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap
}

.ta-6f43 .ta-5c91 p {
    min-height: 240px
}

@media(max-width:575.98px) {
    .ta-6f43 .ta-5c91 img {
        height: 55px
    }
    .ta-6f43 .ta-5c91 h4 {
        font-size: 4vw
    }
    .ta-6f43 .ta-5c91 p {
        display: none
    }
}

.ta-0cff {
    background: #fff;
    background: linear-gradient(180deg, hsla(0, 0%, 100%, 0), hsla(0, 0%, 100%, 0) 50%, #fffff4 0, #ffff10)
}

.ta-hv-up {
    transition: transform .3s;
}

.skeleton {
    position: relative;
}

.skeleton::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 10;
    background: linear-gradient(90deg, #ffffff, #dddddd, #ffffff);
    background-size: 200%;
    animation: skeleton 1s infinite reverse;
    border-radius: 10px;
}

@keyframes skeleton {
    0% {
        background-position: -100% 0;
    }
    100% {
        background-position: 100% 0;
    }
}