<div class="col-lg-12 d-none d-md-block">
    <div class="card profile-navigate">
        <div class="card-body pb-0">
            <ul class="profile-routes list-unstyled">
                <li class="profile-item">
                    <a href="/" class="">
                        <i class="fal text-dark fa-home"></i> <span>Home</span></a>
                </li>
                <li class="profile-item">
                    <a href="/friends" class="">
                        <i class="fal fa-users"></i> <span>Friends</span></a>
                </li>
                <li class="profile-item">
                    <a href="/videos" class="">
                        <i class="fal fa-camera"></i> <span>Videos</span></a>
                </li>
                <li class="profile-item">
                    <a href="/profile" class="">
                        <i class="fal fa-user"></i> <span>Profile</span></a>
                </li>
                <li class="profile-item">
                    <a href="/events" class="">
                        <i class="fal fa-calendar"></i> <span>Events</span></a>
                </li>
                <li class="profile-item">
                    <a href="/notifications" class="">
                        <i class="fal fa-concierge-bell"></i> <span>Notifications</span></a>
                </li>
                <li class="profile-item">
                    <a href="/settings" class="">
                        <i class="fal fa-cog"></i> <span>Settings</span></a>
                </li>
            </ul>
        </div>
    </div>
</div>