<footer class="bg-dark">
    <div class="container-fluid ta-container pt-4">
        <div class="row">
            <div class="col-xl-4">
                <div class="mb-3">
                    <div class="ta-a494"><img height="42" alt="" src="/favicon.ico" class="shadow-sm border border-white rounded"></div>
                    <p class="text-white fs-13 mb-0 ta-0c2c"><strong>SOCIAL MEDIA</strong> l Connect with us through our social media platforms to stay updated with the latest news, product releases, and updates. Follow us on Facebook, Twitter, Instagram, and LinkedIn to engage with our community
                        and get involved in conversations about our products and services. We are committed to providing the best customer experience through these channels.
                    </p>
                </div>
            </div>
            <div class="col-xl col-sm-6">
                <div class="mb-3">
                    <h4 class="ta-a494 ta-c14f"><strong>Menu</strong></h4>
                    <div>
                        <a href="/" class="ta-0c2c ta-c03b">
                            Home
                        </a>
                        <a href="/friends/" class="ta-0c2c ta-c03b">
                            Friends
                        </a>
                        <a href="/videos/" class="ta-0c2c ta-c03b">
                            Videos
                        </a>
                        <a href="/events/" class="ta-0c2c ta-c03b">
                            Events
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-xl col-sm-6">
                <div class="mb-3">
                    <h4 class="ta-a494 ta-c14f"><strong>Settings</strong></h4>
                    <div>
                        <a href="/settings/password-security/" class="ta-c03b ta-0c2c">
                            Password and Security
                        </a>
                    </div>
                    <div>
                        <a href="/settings/notifications/" class="ta-c03b ta-0c2c">
                            Notifications
                        </a>
                    </div>
                    <div>
                        <a href="/settings/language-location/" class="ta-c03b ta-0c2c">
                            Language and Location
                        </a>
                    </div>
                    <div>
                        <a href="/settings/history/" class="ta-c03b ta-0c2c">
                            History
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-xl col-sm-6">
                <div class="mb-3">
                    <h4 class="ta-a494 ta-c14f"><strong>Hỗ trợ</strong></h4>
                    <div>
                        <a href="https://facebook.com/vanixjnk" class="ta-c03b ta-0c2c"><i class="fab fa-facebook-square"></i> 
                            vanixjnk
                        </a>
                        <a href="https://facebook.com/vanixjnk" class="ta-c03b ta-0c2c"><i class="fab fa-instagram"></i> 
                            vanixjnk
                        </a>
                        <a href="https://github.com/vanixjnk" class="ta-c03b ta-0c2c"><i class="fab fa-github"></i> 
                            vanixjnk
                        </a>
                        <a href="mailto:vanixjnk@gmail.com" class="ta-c03b ta-0c2c"><i class="fa fa-envelope"></i>
                            vanixjnk@gmail.com
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container-fluid border-top border-gray">
        <div class="ta-container">
            <div class="text-center text-white text-xl-start py-3 fs-14">
                <strong>SOCIAL MEDIA</strong> - All rights reserved. © 2024 | Follow us on our social media platforms to get the latest updates on all our services, offers, and news.
            </div>
        </div>
    </div>
</footer>