<nav class="ta-navbar navbar navbar-expand-lg sticky-top navbar-white bg-white shadow-sm">
    <div class="container-fluid ta-container">
        <div class="d-flex align-items-center">
            <button type="button" aria-label="Toggle navigation" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" class="navbar-toggler">
                <span class="navbar-toggler-icon"></span>
            </button>
            <a href="/" data-page="home" aria-current="page" class="navbar-brand fw-bold d-flex align-items-center nuxt-link-exact-active nuxt-link-active">
                <img height="27" alt="Vani Logo" src="/favicon.ico">
            </a>
            <ul class="navbar-nav dropdown-profile align-items-center flex-row">
                <li class="nav-item dropdown bg-light rounded">
                    <a href="javascript:void(0)" role="button" data-bs-toggle="dropdown" data-bs-display="static" aria-expanded="false" class="nav-link dropdown-toggle d-flex align-items-center outline-0">
                        <img alt="" src="/assets/img/avatar/vani2.jpg" class="img-navbar rounded-circle shadow-sm me-1">
                        <span class="px-0 px-sm-1 lh-0 fs-13">
                            <span class="text-muted d-none d-sm-inline">Nguyen Dinh Bao</span>
                        </span>
                    </a>
                    <ul class="dropdown-menu dropdown-menu-end">
                        <li>
                            <a href="/settings/" class="dropdown-item">
                                <i class="fal fa-cog"></i><span>Settings</span></a>
                        </li>
                        <li>
                            <a href="/profile/" class="dropdown-item">
                                <i class="fal fa-user-circle"></i><span>Profile</span></a>
                        </li>
                        <li>
                            <a href="/" class="dropdown-item"><i class="fad fa-send-back"></i> <span>Clients</span></a>
                        </li>
                        <hr class="dropdown-divider">
                        <li><a href="/auth/signin" class="dropdown-item"><i class="fal fa-sign-out"></i> <span>Logout</span></a></li>
                    </ul>
                </li>
            </ul>
        </div>
        <div id="navbarNav" class="collapse navbar-collapse my-2 mt-lg-0 mb-1 mb-lg-0">
            <ul class="navbar-nav navbar-main me-auto">
                <li class="nav-item">
                    <a href="/admin/" class="nav-link">
                        <i class="fal text-dark fa-home"></i> Dashboard
                    </a>
                </li>
                <li class="nav-item">
                    <a href="/admin/statistical/" class="nav-link">
                        <i class="fal text-dark fa-analytics"></i> Statistical
                    </a>
                </li>
                <li class="nav-item">
                    <a href="/admin/users" class="nav-link">
                        <i class="fal text-dark fa-users"></i> Users
                    </a>
                </li>
                <li class="nav-item">
                    <a href="/admin/posts" class="nav-link">
                        <i class="fal text-dark fa-image"></i> Posts
                    </a>
                </li>
                <li class="nav-item">
                    <a href="/admin/comments" class="nav-link">
                        <i class="fal text-dark fa-comments"></i> Comments
                    </a>
                </li>
                <li class="nav-item">
                    <a href="/admin/violations/" class="nav-link">
                        <i class="fal text-dark fa-engine-warning"></i> Violations
                    </a>
                </li>
                <li class="nav-item">
                    <a href="/admin/business/" class="nav-link">
                        <i class="fal text-dark fa-business-time"></i> Business
                    </a>
                </li>
                <li class="nav-item">
                    <a href="/admin/ads" class="nav-link">
                        <i class="fal text-dark fa-ad"></i> Ads
                    </a>
                </li>
                <li class="nav-item">
                    <a href="/admin/notifications" class="nav-link">
                        <i class="fal text-dark fa-concierge-bell"></i> Notifications
                    </a>
                </li>
                <li class="nav-item">
                    <a href="/admin/settings" class="nav-link">
                        <i class="fal text-dark fa-cog"></i> Settings
                    </a>
                </li>
            </ul>
        </div>
    </div>
</nav>