<footer class="bg-dark">
    <div class="container-fluid ta-container pt-4">
        <div class="row">
            <div class="col-xl-4">
                <div class="mb-3">
                    <div class="ta__3b7b mb-3"><img height="42" alt="" src="https://placehold.co/400" class="shadow-sm rounded"></div>
                    <p class="text-white fs-13 mb-0 ta__46e0"><strong>
                        SOCIAL MEDIA
						</strong> Lorem ipsum dolor sit amet consectetur adipisicing elit. Odit, quam, ratione sint accusantium dolore dignissimos esse iure totam similique molestiae perspiciatis iusto dolor perferendis libero molestias quibusdam velit, quaerat doloribus.
                </div>
            </div>
            <div class="col-xl col-sm-6">
                <div class="mb-3">
                    <h4 class="ta-af5b ta-f2db"><strong>Đối tác</strong></h4>
                    <div>
                        <a href="https://scaninfo.vn" class="ta-76a6 ta-d48e"><strong>Scaninfo.Vn</strong></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container-fluid border-top border-gray">
        <div class="ta-container">
            <div class="text-white text-center text-xl-start py-3 fs-14"><strong>
					SOCIAL MEDIA
				</strong> - All rights reserved.
            </div>
        </div>
    </div>
</footer>